@page
@model EMS_UI.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Employee Management System</h1>

<div class="list-group">
    <a href="/EmployeeList" class="list-group-item list-group-item-action">Employee List</a>
    <a href="/AddEmployee" class="list-group-item list-group-item-action">Add Employee</a>
    <a href="/EmployeesByDept" class="list-group-item list-group-item-action">Employees by Department</a>
    <a href="/Login" class="list-group-item list-group-item-action">Login</a>
</div>